<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Model/vnd.dwf</key>
	<string>.dwf</string>
	<key>application/fractals</key>
	<string>.fif</string>
	<key>application/futuresplash</key>
	<string>.spl</string>
	<key>application/hta</key>
	<string>.hta</string>
	<key>application/mac-binhex40</key>
	<string>.hqx</string>
	<key>application/msaccess</key>
	<string>.mdb</string>
	<key>application/msword</key>
	<string>.doc,.dot,.rtf,.wiz</string>
	<key>application/octet-stream</key>
	<string>.*（ 二进制流，不知道下载文件类型）</string>
	<key>application/pdf</key>
	<string>.pdf,.pdf</string>
	<key>application/pics-rules</key>
	<string>.prf</string>
	<key>application/pkcs10</key>
	<string>.p10</string>
	<key>application/pkcs7-mime</key>
	<string>.p7c,.p7m</string>
	<key>application/pkcs7-signature</key>
	<string>.p7s</string>
	<key>application/pkix-crl</key>
	<string>.crl</string>
	<key>application/postscript</key>
	<string>.ai,.eps,.ps</string>
	<key>application/rat-file</key>
	<string>.rat</string>
	<key>application/sdp</key>
	<string>.sdp</string>
	<key>application/smil</key>
	<string>.smi,.smil</string>
	<key>application/streamingmedia</key>
	<string>.ssm</string>
	<key>application/vnd.adobe.edn</key>
	<string>.edn</string>
	<key>application/vnd.adobe.pdx</key>
	<string>.pdx</string>
	<key>application/vnd.adobe.rmf</key>
	<string>.rmf</string>
	<key>application/vnd.adobe.workflow</key>
	<string>.awf</string>
	<key>application/vnd.adobe.xdp</key>
	<string>.xdp</string>
	<key>application/vnd.adobe.xfd</key>
	<string>.xfd</string>
	<key>application/vnd.adobe.xfdf</key>
	<string>.xfdf</string>
	<key>application/vnd.android.package-archive</key>
	<string>.apk</string>
	<key>application/vnd.fdf</key>
	<string>.fdf</string>
	<key>application/vnd.iphone</key>
	<string>.ipa</string>
	<key>application/vnd.ms-excel</key>
	<string>.xls</string>
	<key>application/vnd.ms-pki.certstore</key>
	<string>.sst</string>
	<key>application/vnd.ms-pki.pko</key>
	<string>.pko</string>
	<key>application/vnd.ms-pki.seccat</key>
	<string>.cat</string>
	<key>application/vnd.ms-pki.stl</key>
	<string>.stl</string>
	<key>application/vnd.ms-powerpoint</key>
	<string>.pot,.ppa,.pps,.ppt,.pwz</string>
	<key>application/vnd.ms-project</key>
	<string>.mpd,.mpp,.mpt,.mpw,.mpx</string>
	<key>application/vnd.ms-wpl</key>
	<string>.wpl</string>
	<key>application/vnd.rn-realmedia</key>
	<string>.rm</string>
	<key>application/vnd.rn-realmedia-secure</key>
	<string>.rms</string>
	<key>application/vnd.rn-realmedia-vbr</key>
	<string>.rmvb</string>
	<key>application/vnd.rn-realplayer</key>
	<string>.rnx</string>
	<key>application/vnd.rn-realsystem-rjs</key>
	<string>.rjs</string>
	<key>application/vnd.rn-realsystem-rjt</key>
	<string>.rjt</string>
	<key>application/vnd.rn-realsystem-rmj</key>
	<string>.rmj</string>
	<key>application/vnd.rn-realsystem-rmx</key>
	<string>.rmx</string>
	<key>application/vnd.rn-recording</key>
	<string>.rec</string>
	<key>application/vnd.rn-rn_music_package</key>
	<string>.rmp</string>
	<key>application/vnd.rn-rsml</key>
	<string>.rsml</string>
	<key>application/vnd.symbian.install</key>
	<string>.sis,.sisx</string>
	<key>application/vnd.visio</key>
	<string>.vdx,.vsd,.vss,.vst,.vsw,.vsx,.vtx</string>
	<key>application/x-</key>
	<string>.</string>
	<key>application/x-001</key>
	<string>.001</string>
	<key>application/x-301</key>
	<string>.301</string>
	<key>application/x-906</key>
	<string>.906</string>
	<key>application/x-a11</key>
	<string>.a11</string>
	<key>application/x-anv</key>
	<string>.anv</string>
	<key>application/x-bittorrent</key>
	<string>.torrent</string>
	<key>application/x-bmp</key>
	<string>.bmp</string>
	<key>application/x-bot</key>
	<string>.bot</string>
	<key>application/x-c4t</key>
	<string>.c4t</string>
	<key>application/x-c90</key>
	<string>.c90</string>
	<key>application/x-cals</key>
	<string>.cal</string>
	<key>application/x-cdr</key>
	<string>.cdr</string>
	<key>application/x-cel</key>
	<string>.cel</string>
	<key>application/x-cgm</key>
	<string>.cgm</string>
	<key>application/x-cit</key>
	<string>.cit</string>
	<key>application/x-cmp</key>
	<string>.cmp</string>
	<key>application/x-cmx</key>
	<string>.cmx</string>
	<key>application/x-cot</key>
	<string>.cot</string>
	<key>application/x-csi</key>
	<string>.csi</string>
	<key>application/x-cut</key>
	<string>.cut</string>
	<key>application/x-dbf</key>
	<string>.dbf</string>
	<key>application/x-dbm</key>
	<string>.dbm</string>
	<key>application/x-dbx</key>
	<string>.dbx</string>
	<key>application/x-dcx</key>
	<string>.dcx</string>
	<key>application/x-dgn</key>
	<string>.dgn</string>
	<key>application/x-dib</key>
	<string>.dib</string>
	<key>application/x-drw</key>
	<string>.drw</string>
	<key>application/x-dwf</key>
	<string>.dwf</string>
	<key>application/x-dwg</key>
	<string>.dwg</string>
	<key>application/x-dxb</key>
	<string>.dxb</string>
	<key>application/x-dxf</key>
	<string>.dxf</string>
	<key>application/x-ebx</key>
	<string>.etd</string>
	<key>application/x-emf</key>
	<string>.emf</string>
	<key>application/x-epi</key>
	<string>.epi</string>
	<key>application/x-frm</key>
	<string>.frm</string>
	<key>application/x-g4</key>
	<string>.cg4,.g4,.ig4</string>
	<key>application/x-gbr</key>
	<string>.gbr</string>
	<key>application/x-gl2</key>
	<string>.gl2</string>
	<key>application/x-gp4</key>
	<string>.gp4</string>
	<key>application/x-hgl</key>
	<string>.hgl</string>
	<key>application/x-hmr</key>
	<string>.hmr</string>
	<key>application/x-hpgl</key>
	<string>.hpg</string>
	<key>application/x-hpl</key>
	<string>.hpl</string>
	<key>application/x-hrf</key>
	<string>.hrf</string>
	<key>application/x-icb</key>
	<string>.icb</string>
	<key>application/x-ico</key>
	<string>.ico</string>
	<key>application/x-icq</key>
	<string>.uin</string>
	<key>application/x-iff</key>
	<string>.iff</string>
	<key>application/x-igs</key>
	<string>.igs</string>
	<key>application/x-img</key>
	<string>.img</string>
	<key>application/x-internet-signup</key>
	<string>.ins,.isp</string>
	<key>application/x-iphone</key>
	<string>.iii</string>
	<key>application/x-javascript</key>
	<string>.js,.ls,.mocha</string>
	<key>application/x-jpe</key>
	<string>.jpe</string>
	<key>application/x-jpg</key>
	<string>.jpg</string>
	<key>application/x-laplayer-reg</key>
	<string>.lar</string>
	<key>application/x-latex</key>
	<string>.latex</string>
	<key>application/x-lbm</key>
	<string>.lbm</string>
	<key>application/x-ltr</key>
	<string>.ltr</string>
	<key>application/x-mac</key>
	<string>.mac</string>
	<key>application/x-mdb</key>
	<string>.mdb</string>
	<key>application/x-mi</key>
	<string>.mi</string>
	<key>application/x-mil</key>
	<string>.mil</string>
	<key>application/x-mmxp</key>
	<string>.mxp</string>
	<key>application/x-ms-wmd</key>
	<string>.wmd</string>
	<key>application/x-ms-wmz</key>
	<string>.wmz</string>
	<key>application/x-msdownload</key>
	<string>.dll,.exe</string>
	<key>application/x-netcdf</key>
	<string>.cdf</string>
	<key>application/x-nrf</key>
	<string>.nrf</string>
	<key>application/x-out</key>
	<string>.out</string>
	<key>application/x-pc5</key>
	<string>.pc5</string>
	<key>application/x-pci</key>
	<string>.pci</string>
	<key>application/x-pcl</key>
	<string>.pcl</string>
	<key>application/x-pcx</key>
	<string>.pcx</string>
	<key>application/x-perl</key>
	<string>.pl</string>
	<key>application/x-pgl</key>
	<string>.pgl</string>
	<key>application/x-pic</key>
	<string>.pic</string>
	<key>application/x-pkcs12</key>
	<string>.p12,.pfx</string>
	<key>application/x-pkcs7-certificates</key>
	<string>.p7b,.spc</string>
	<key>application/x-pkcs7-certreqresp</key>
	<string>.p7r</string>
	<key>application/x-plt</key>
	<string>.plt</string>
	<key>application/x-png</key>
	<string>.png</string>
	<key>application/x-ppm</key>
	<string>.ppm</string>
	<key>application/x-ppt</key>
	<string>.ppt</string>
	<key>application/x-pr</key>
	<string>.pr</string>
	<key>application/x-prn</key>
	<string>.prn</string>
	<key>application/x-prt</key>
	<string>.prt</string>
	<key>application/x-ps</key>
	<string>.eps,.ps</string>
	<key>application/x-ptn</key>
	<string>.ptn</string>
	<key>application/x-ras</key>
	<string>.ras</string>
	<key>application/x-red</key>
	<string>.red</string>
	<key>application/x-rgb</key>
	<string>.rgb</string>
	<key>application/x-rlc</key>
	<string>.rlc</string>
	<key>application/x-rle</key>
	<string>.rle</string>
	<key>application/x-rtf</key>
	<string>.rtf</string>
	<key>application/x-sam</key>
	<string>.sam</string>
	<key>application/x-sat</key>
	<string>.sat</string>
	<key>application/x-sdw</key>
	<string>.sdw</string>
	<key>application/x-shockwave-flash</key>
	<string>.mfp,.swf</string>
	<key>application/x-silverlight-app</key>
	<string>.xap</string>
	<key>application/x-slb</key>
	<string>.slb</string>
	<key>application/x-sld</key>
	<string>.sld</string>
	<key>application/x-smk</key>
	<string>.smk</string>
	<key>application/x-stuffit</key>
	<string>.sit</string>
	<key>application/x-sty</key>
	<string>.sty</string>
	<key>application/x-tdf</key>
	<string>.tdf</string>
	<key>application/x-tg4</key>
	<string>.tg4</string>
	<key>application/x-tga</key>
	<string>.tga</string>
	<key>application/x-tif</key>
	<string>.tif</string>
	<key>application/x-troff-man</key>
	<string>.man</string>
	<key>application/x-vda</key>
	<string>.vda</string>
	<key>application/x-vpeg005</key>
	<string>.vpg</string>
	<key>application/x-vsd</key>
	<string>.vsd</string>
	<key>application/x-vst</key>
	<string>.vst</string>
	<key>application/x-wb1</key>
	<string>.wb1</string>
	<key>application/x-wb2</key>
	<string>.wb2</string>
	<key>application/x-wb3</key>
	<string>.wb3</string>
	<key>application/x-wk3</key>
	<string>.wk3</string>
	<key>application/x-wk4</key>
	<string>.wk4</string>
	<key>application/x-wkq</key>
	<string>.wkq</string>
	<key>application/x-wks</key>
	<string>.wks</string>
	<key>application/x-wmf</key>
	<string>.wmf</string>
	<key>application/x-wp6</key>
	<string>.wp6</string>
	<key>application/x-wpd</key>
	<string>.wpd</string>
	<key>application/x-wpg</key>
	<string>.wpg</string>
	<key>application/x-wq1</key>
	<string>.wq1</string>
	<key>application/x-wr1</key>
	<string>.wr1</string>
	<key>application/x-wri</key>
	<string>.wri</string>
	<key>application/x-wrk</key>
	<string>.wrk</string>
	<key>application/x-ws</key>
	<string>.ws,.ws2</string>
	<key>application/x-x509-ca-cert</key>
	<string>.cer,.crt,.der</string>
	<key>application/x-x_b</key>
	<string>.x_b</string>
	<key>application/x-x_t</key>
	<string>.x_t</string>
	<key>application/x-xls</key>
	<string>.xls</string>
	<key>application/x-xlw</key>
	<string>.xlw</string>
	<key>application/x-xwd</key>
	<string>.xwd</string>
	<key>audio/aiff</key>
	<string>.aif,.aifc,.aiff</string>
	<key>audio/basic</key>
	<string>.au,.snd</string>
	<key>audio/mid</key>
	<string>.mid,.midi,.rmi</string>
	<key>audio/mp1</key>
	<string>.mp1</string>
	<key>audio/mp2</key>
	<string>.mp2</string>
	<key>audio/mp3</key>
	<string>.mp3</string>
	<key>audio/mpegurl</key>
	<string>.m3u</string>
	<key>audio/rn-mpeg</key>
	<string>.mpga</string>
	<key>audio/scpls</key>
	<string>.pls,.xpl</string>
	<key>audio/vnd.rn-realaudio</key>
	<string>.ra</string>
	<key>audio/wav</key>
	<string>.wav</string>
	<key>audio/x-la-lms</key>
	<string>.lmsff</string>
	<key>audio/x-liquid-file</key>
	<string>.la1</string>
	<key>audio/x-liquid-secure</key>
	<string>.lavs</string>
	<key>audio/x-mei-aac</key>
	<string>.acp</string>
	<key>audio/x-ms-wax</key>
	<string>.wax</string>
	<key>audio/x-ms-wma</key>
	<string>.wma</string>
	<key>audio/x-musicnet-download</key>
	<string>.mnd</string>
	<key>audio/x-musicnet-stream</key>
	<string>.mns</string>
	<key>audio/x-pn-realaudio</key>
	<string>.ram,.rmm</string>
	<key>audio/x-pn-realaudio-plugin</key>
	<string>.rpm</string>
	<key>drawing/907</key>
	<string>.907</string>
	<key>drawing/x-slk</key>
	<string>.slk</string>
	<key>drawing/x-top</key>
	<string>.top</string>
	<key>image/fax</key>
	<string>.fax</string>
	<key>image/gif</key>
	<string>.gif</string>
	<key>image/jpeg</key>
	<string>.jfif,.jpe,.jpeg,.jpg</string>
	<key>image/pnetvue</key>
	<string>.net</string>
	<key>image/png</key>
	<string>.png</string>
	<key>image/tiff</key>
	<string>.tif,.tif,.tiff</string>
	<key>image/vnd.rn-realpix</key>
	<string>.rp</string>
	<key>image/vnd.wap.wbmp</key>
	<string>.wbmp</string>
	<key>image/x-icon</key>
	<string>.ico</string>
	<key>java/*</key>
	<string>.class,.java</string>
	<key>message/rfc822</key>
	<string>.eml,.mht,.mhtml,.nws</string>
	<key>text/asa</key>
	<string>.asa</string>
	<key>text/asp</key>
	<string>.asp</string>
	<key>text/css</key>
	<string>.css</string>
	<key>text/h323</key>
	<string>.323</string>
	<key>text/html</key>
	<string>.htm,.html,.htx,.jsp,.plg,.stm,.xhtml</string>
	<key>text/iuls</key>
	<string>.uls</string>
	<key>text/plain</key>
	<string>.sol,.sor,.txt</string>
	<key>text/scriptlet</key>
	<string>.wsc</string>
	<key>text/vnd.rn-realtext</key>
	<string>.rt</string>
	<key>text/vnd.rn-realtext3d</key>
	<string>.r3t</string>
	<key>text/vnd.wap.wml</key>
	<string>.wml</string>
	<key>text/webviewhtml</key>
	<string>.htt</string>
	<key>text/x-component</key>
	<string>.htc</string>
	<key>text/x-ms-odc</key>
	<string>.odc</string>
	<key>text/x-vcard</key>
	<string>.vcf</string>
	<key>text/xml</key>
	<string>.biz,.cml,.dcd,.dtd,.ent,.fo,.math,.mml,.mtx,.rdf,.spp,.svg,.tld,.tsd,.vml,.vxml,.wsdl,.xdr,.xml,.xq,.xql,.xquery,.xsd,.xsl,.xslt</string>
	<key>video/avi</key>
	<string>.avi</string>
	<key>video/mpeg</key>
	<string>.mp2v,.mpv2</string>
	<key>video/mpeg4</key>
	<string>.m4e,.mp4</string>
	<key>video/mpg</key>
	<string>.mpeg,.mpg,.mpv</string>
	<key>video/vnd.rn-realvideo</key>
	<string>.rv</string>
	<key>video/x-ivf</key>
	<string>.IVF</string>
	<key>video/x-mpeg</key>
	<string>.m1v,.m2v,.mpe,.mps</string>
	<key>video/x-mpg</key>
	<string>.mpa</string>
	<key>video/x-ms-asf</key>
	<string>.asf,.asx</string>
	<key>video/x-ms-wm</key>
	<string>.wm</string>
	<key>video/x-ms-wmv</key>
	<string>.wmv</string>
	<key>video/x-ms-wmx</key>
	<string>.wmx</string>
	<key>video/x-ms-wvx</key>
	<string>.wvx</string>
	<key>video/x-sgi-movie</key>
	<string>.movie</string>
</dict>
</plist>
